@model YourVitebskWebServiceApp.Models.PosterType

<div class="row mb-3">
    <div class="col-auto me-auto">
        <h2>Удаление типа искусства</h2>
    </div>
    <div class="col-auto">
        <a asp-controller="PosterTypes" asp-action="Index">Вернуться к списку</a>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-striped align-middle">
        <tr>
            <th>ID</th>
            <th>Тип искусства</th>
        </tr>
        <tr>
            <td>@Model.PosterTypeId</td>
            <td>@Model.Name</td>
        </tr>
    </table>
</div>
 
<form asp-action="Delete" asp-controller="PosterTypes" method="post">
    <div class="mb-3">
        <input type="submit" class="btn btn-outline-danger" value="Удалить" />
    </div>
</form>