@model YourVitebskWebServiceApp.Models.Cafe

<div class="row mb-3">
    <div class="col-auto me-auto">
        <h2>Редактирование заведения</h2>
        <div class="form-text"><i>*</i> - обязательные поля</div>
    </div>
    <div class="col-auto">
        <a asp-controller="Cafes" asp-action="Index">Вернуться к списку</a>
    </div>
</div>
 
<form asp-action="Edit" asp-controller="Cafes" method="post" enctype="multipart/form-data">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <input type="hidden" asp-for="CafeId" />
       <div class="mb-3">
            <label asp-for="CafeTypeId" class="form-label">Вид заведения<i>*</i></label>
            <select asp-for="CafeTypeId" class="form-control form-control-sm" required >
                <option value="">Выберите тип заведения</option>
                @foreach (CafeType cafeType in ViewBag.CafeTypes)
                {
                    <option value="@cafeType.CafeTypeId">@cafeType.Name</option>
                }
            </select>
            <span class="badge bg-danger" asp-validation-for="CafeTypeId"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Title" class="form-label">Название<i>*</i></label>
            <input type="text" asp-for="Title" class="form-control form-control-sm" required />
            <span class="badge bg-danger" asp-validation-for="Title"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Description" class="form-label">Описание<i>*</i></label>
            <textarea asp-for="Description" class="form-control form-control-sm" required ></textarea>
            <span class="badge bg-danger" asp-validation-for="Description"></span>
        </div>
        <div class="mb-3">
            <label asp-for="WorkingTime" class="form-label">Время работы<i>*</i></label>
            <textarea asp-for="WorkingTime" class="form-control form-control-sm" placeholder="Будни: 8:00 - 17:00&#10;Выходные: 10:00 - 15:00" required ></textarea>
            <span class="badge bg-danger" asp-validation-for="WorkingTime"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Address" class="form-label">Адрес<i>*</i></label>
            <input type="text" asp-for="Address" class="form-control form-control-sm" placeholder="ул. Ленина, 29" required />
            <span class="badge bg-danger" asp-validation-for="Address"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ExternalLink" class="form-label">Ссылка</label>
            <input type="url" asp-for="ExternalLink" class="form-control form-control-sm" placeholder="https://www.example.com" aria-describedby="linkNotify" />
            <div id="linkNotify" class="form-text">Ссылка на внешний ресурс</div>
            <span class="badge bg-danger" asp-validation-for="ExternalLink"></span>
        </div>
        <div class="mb-3">
            <label>Изображения</label>
            <input type="file" name="uploadedFiles" accept=".png,.jpg,.jpeg" multiple="multiple" class="form-control form-control-sm" />
        </div>
        <div class="mb-3">
            <input type="submit" value="Сохранить" class="btn btn-outline-secondary" />
        </div>
    </div>
</form>