@model YourVitebskWebServiceApp.ViewModels.UserViewModel

<div class="row mb-3">
    <div class="col-auto me-auto">
        <h2>Добавление пользователя</h2>
        <div class="form-text"><i>*</i> - обязательные поля</div>
    </div>
    <div class="col-auto">
        <a asp-controller="Users" asp-action="Index">Вернуться к списку</a>
    </div>
</div>

<form asp-action="Create" asp-controller="Users" method="post" enctype="multipart/form-data">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div class="mb-3">
            <label asp-for="Email" class="form-label">Email<i>*</i></label>
            <input type="email" asp-for="Email" class="form-control form-control-sm" placeholder="example@mail.com" required />
            <span class="badge bg-danger" asp-validation-for="Email"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Password" class="form-label">Пароль<i>*</i></label>
            <input type="text" asp-for="Password" class="form-control form-control-sm" aria-describedby="passwordNotify" required />
            <div id="passwordNotify" class="form-text">Пароль должен быть не короче 6 символов</div>
            <span class="badge bg-danger" asp-validation-for="Password"></span>
        </div>
        <div class="mb-3">
            <label asp-for="RoleId" class="form-label">Роль<i>*</i></label>
            <select asp-for="RoleId" class="form-control form-control-sm" required >
                <option value="">Выберите роль</option>
                @foreach (YourVitebskWebServiceApp.Models.Role role in ViewBag.Roles)
                {
                    <option value="@role.RoleId">@role.Name</option>
                }
            </select>
            <span class="badge bg-danger" asp-validation-for="RoleId"></span>
        </div>
        <div class="mb-3">
            <label asp-for="FirstName" class="form-label">Имя<i>*</i></label>
            <input type="text" asp-for="FirstName" class="form-control form-control-sm" required />
            <span class="badge bg-danger" asp-validation-for="FirstName"></span>

        </div>
        <div class="mb-3">
            <label asp-for="LastName" class="form-label">Фамилия<i>*</i></label>
            <input type="text" asp-for="LastName" class="form-control form-control-sm" required />
            <span class="badge bg-danger" asp-validation-for="LastName"></span>

        </div>
        <div class="mb-3">
            <label asp-for="PhoneNumber" class="form-label">Телефон</label>
            <input type="text" asp-for="PhoneNumber" class="form-control form-control-sm" placeholder="+375(__)___-__-__" id="Phone" />
            <span class="badge bg-danger" asp-validation-for="PhoneNumber"></span>
        </div>
        <div class="mb-3">
            <label asp-for="IsVisible" class="form-label">Видимость для других пользователей<i>*</i></label>
            <select asp-for="IsVisible" class="form-control form-control-sm" required >
                <option value="true">Да</option>
                <option value="false">Нет</option>
            </select>
            <span class="badge bg-danger" asp-validation-for="IsVisible"></span>
        </div>
        <div class="mb-3">
            <label>Изображение<i>*</i></label>
            <input type="file" name="uploadedFiles" accept=".png,.jpg,.jpeg" class="form-control form-control-sm" required />
        </div>
        <div class="mb-3">
            <input type="submit" value="Сохранить" class="btn btn-outline-secondary" />
        </div>
    </div>
</form>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/plugins/jquery.maskedinput.js"></script>
<script type="text/javascript">
    $("#Phone").mask("+375(99)999-99-99");
</script>