@model IEnumerable<YourVitebskWebServiceApp.Models.BusStop>

<div class="mb-3">
    <h2>Автобусные остановки</h2>
</div>

<div class="table-responsive">
    <table class="table table-striped align-middle">
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th><a class="btn btn-outline-dark float-end" asp-controller="BusStops" asp-action="Create">Добавить</a></th>
        </tr>
    
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.BusStopId</td>
                <td>@item.Name</td>
                <td>
                    <div class="btn-group float-end" role="group">
                        <a class="btn btn-outline-dark" asp-controller="BusStops" asp-action="Edit" asp-route-id="@item.BusStopId">Изменить</a>
                        <a class="btn btn-outline-danger" asp-controller="BusStops" asp-action="Delete" asp-route-id="@item.BusStopId">Удалить</a>
                    </div>
                </td>

            </tr>
        }
    </table>
</div>