@model YourVitebskWebServiceApp.ViewModels.PosterViewModel

<div class="row mb-3">
    <div class="col-auto me-auto">
        <h2>Редактирование афиши</h2>
        <div class="form-text"><i>*</i> - обязательные поля</div>
    </div>
    <div class="col-auto">
        <a asp-controller="Posters" asp-action="Index">Вернуться к списку</a>
    </div>
</div>
 
<form asp-action="Edit" asp-controller="Posters" method="post" enctype="multipart/form-data">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <input type="hidden" asp-for="PosterId" />
       <div class="mb-3">
            <label asp-for="PosterTypeId" class="form-label">Вид события<i>*</i></label>
            <select asp-for="PosterTypeId" class="form-control form-control-sm" >
                <option value="0">Выберите тип искусства</option>
                @foreach (PosterType posterType in ViewBag.PosterTypes)
                {
                    @if ((int)ViewData["PosterTypeId"] == posterType.PosterTypeId)
                    {
                        <option value="@posterType.PosterTypeId" selected>@posterType.Name</option>
                    }
                    else
                    {
                        <option value="@posterType.PosterTypeId">@posterType.Name</option>
                    }
                }
            </select>
           <span class="badge bg-danger" asp-validation-for="PosterTypeId"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Title" class="form-label">Название<i>*</i></label>
            <input type="datetime" asp-for="Title" class="form-control form-control-sm" />
            <span class="badge bg-danger" asp-validation-for="Title"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Description" class="form-label">Описание<i>*</i></label>
            <textarea asp-for="Description" class="form-control form-control-sm" ></textarea>
            <span class="badge bg-danger" asp-validation-for="Description"></span>
        </div>
        <div class="mb-3">
            <label asp-for="DateTime" class="form-label">Дата и время<i>*</i></label>
            <textarea asp-for="DateTime" class="form-control form-control-sm" ></textarea>
            <span class="badge bg-danger" asp-validation-for="DateTime"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Address" class="form-label">Адрес<i>*</i></label>
            <input type="text" asp-for="Address" class="form-control form-control-sm" placeholder="ул. Ленина, 29" />
            <span class="badge bg-danger" asp-validation-for="Address"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ExternalLink" class="form-label">Ссылка</label>
            <input type="url" asp-for="ExternalLink" class="form-control form-control-sm" placeholder="https://www.example.com" aria-describedby="linkNotify" />
            <div id="linkNotify" class="form-text">Ссылка на внешний ресурс</div>
            <span class="badge bg-danger" asp-validation-for="ExternalLink"></span>
        </div>
        <div class="mb-3">
            <label>Изображения<i>*</i></label>
            <input required type="file" name="uploadedFiles" accept=".png,.jpg,.jpeg" multiple="multiple" class="form-control form-control-sm" />
        </div>
        <div class="mb-3">
            <input type="submit" value="Сохранить" class="btn btn-outline-secondary" />
        </div>
    </div>
</form>